<h3>Users</h3>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">用户名</th>
            <th scope="col">Email</th>
            <th scope="col">角色</th>
            <th scope="col">名字</th>
            <th scope="col">电话</th>
            <th scope="col">手机</th>
            <th scope="col">传真</th>
            <th scope="col">地址</th>
            <th scope="col">邮编</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="11" class="alert alert-danger" *ngIf="errors$ | async as error">{{error}}</td>
        </tr>
        <tr *ngFor="let user of (users$ | async)">
            <th scope="row">{{user.username}}</th>
            <td>{{user.email}}</td>
            <td>{{user.role_id}}</td>
            <td>{{user.cnname}}{{user.enname}}</td>
            <td>{{user.telephone}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.fax}}</td>
            <td>{{user.address}}</td>
            <td>{{user.post}}</td>
            <td>{{user.status}}</td>
            <th>
                <a (click)="editUser(user)">修改</a>
                <br>
                <a (click)="deleteUser(user)">删除</a>
            </th>
        </tr>
    </tbody>
</table>